/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/firmador
/firmador.exe
/firmador-*.tar.gz
/firmador-*/
/install-sh
/Makefile
/Makefile.in
/missing
/rapidjson
/src/.deps/
/src/.dirstamp
/src/*.o
/stamp-h1
*~
